<html>
 <head>
    <title>Delical</title>
  </head>
  <body>
    <header>
      <div class="heading">
        <h1 class="title-left">Delical</h1>
        
      </div>
      <div class="navbar">
       <% unless user_signed_in? %>
         <%= link_to "ログイン", new_user_session_path,class: "login" %> 
         <%= link_to "新規登録", new_user_registration_path,class: "sign-up" %>
        <%else%>
         <%= link_to current_user.nickname,"#", class:"user-nickname" %>
         <%= link_to "ログアウト", destroy_user_session_path,method: :delete,class: "logout" %>
         <%end%>
      </div>
    </header>

    <div class="contents">
      <div class="first-view">
        <div class="first-view-left">
        頑張った分だけ
        </div>
        <div class="symbol">
        ➡︎
        </div>
        <div class="first-view-right">
        ご褒美を！！
        </div>
      </div>
      <div class="upper-content">
        <h2 class="heading-name">運動強度</h2>
        <ul class="sports">
          <li class="sport">
            <div class="high-sport">ランニング</div>
          </li>
          <li class="sport">
            <div class="high-sport">ウォーキング</div>
          </li>
          <li class="sport">
            <div class="high-sport">自転車を漕ぐ</div>
          </li>
          <li class="sport">
            <div class="high-sport">プールで泳ぐ</div>
          </li>
          <li class="sport">
            <div class="high-sport">椅子に座る</div>
          </li>

        </ul>
        
        <h2 class="heading-name">カロリー(例）</h2>
        <ul class="foods">
          <li class="food">
            <div class="high-food">絹ごし豆腐</div>
            <div>100gあたり<b>60kcal</b></div>
          </li>
          <li class="food">
            <div class="high-food">カツ丼</div>
            <div> <b>900kcal</b></div>
          </li>
          <li class="food">
            <div class="high-food">カルボナーラ</div>
            <div><b>700kcal</b></div>
          </li>
          <li class="food">
            <div class="high-food">ピザ</div>
            <div><b>600kcal</b></div>
          </li>
          <li class="food">
            <div class="high-food">ラーメン</div>
            <div><b>500kcal</b></div>
          </li>
          <li class="food">
            <div class="high-food">ショートケーキ</div>
            <div><b>340kcal</b></div>
          </li>
        </ul>
        
      </div>
      <div class="middle-content">
       <div class="sentence">美味しいものはカロリーが高いことが多く、そのカロリーを消費するためにはどのくらいの時間どういった運動が必要となるのでしょうか。計算してみましょう!!</div>
        
      </div>

      <div class="bottom-content">
       <%= button_to "食べ物カロリー(例)", {controller: 'foods', action: 'index'}, {method: :get,class: "blue"} %>
        <%= button_to "計算してみよう", {controller: 'calculations', action: 'index'}, {method: :get,class: "red"} %>
      </div>

    </div>

    <footer>
    </footer>
  </body>
</html>
