<!DOCTYPE html>
<html>
  <head>
    <title>Delical</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>

  </head>

  <body onload= "readFirst()">
    <%= yield %>
  </body>
</html>
